/* CUSTOM CURSOR */
.custom-cursor {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
}

.custom-cursor-outline {
  position: fixed;
  width: 24px;
  height: 24px;
  background-color: #888;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.25;
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 9998;
}

.custom-cursor-outline.active {
  transform: translate(-50%, -50%) scale(3.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .custom-cursor {
    display: none;
  }
}

/* CUSTOM PAGINATION */
.custom-pagination {
    font-size: 16px;
    gap: 10px;

    .number {
        opacity: 0.5;
        transition: all 0.3s ease;
        position: relative;

        &.active {
            opacity: 1;
            font-weight: 600;
        }
    }

    .line {
        width: 30px;
        height: 1px;
        background-color: #888;
        margin: 0 10px;
        transition: all 0.3s ease;
        opacity: 0.3;
    }

    .line-filled {
        width: 50px;
        background-color: #000;
        opacity: 1;
    }
}


/* Gallery */
.media-container {
  width: auto;  
  height: 250px; 
  overflow: hidden;
  margin: 8px;
}

.media-container img,
.media-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}