/* CUSTOM CURSOR */
.custom-cursor {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
}

.custom-cursor-outline {
  position: fixed;
  width: 24px;
  height: 24px;
  background-color: #888;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.25;
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 9998;
}

.custom-cursor-outline.active {
  transform: translate(-50%, -50%) scale(3.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .custom-cursor {
    display: none;
  }
}

/* CUSTOM PAGINATION */
.custom-pagination {
  font-size: 16px;
  gap: 10px;

  .number {
    opacity: 0.5;
    transition: all 0.3s ease;
    position: relative;

    &.active {
      opacity: 1;
      font-weight: 600;
    }
  }

  .line {
    width: 30px;
    height: 1px;
    background-color: #888;
    margin: 0 10px;
    transition: all 0.3s ease;
    opacity: 0.3;
  }

  .line-filled {
    width: 50px;
    background-color: #000;
    opacity: 1;
  }
}


/* Gallery */
.media-container {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .media-container {
    height: 180px;
  }
}

.media-container img,
.media-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*  */
.text-truncate-five {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Loader */
/* Overlay */
.loader-overlay {
  position: absolute;
  inset: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(4px);
}

/* Loader */
.loader {
  border: 5px solid #F3F3F3;
  border-top: 5px solid #172862;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


a.d-block.text-15.text-white-60.lh-17 p {
  color: rgba(255, 255, 255, 0.6);
}

/* CSS or SCSS */
.description-wrapper p {
  color: white !important;
}